<!DOCTYPE html>
<html lang="en">
<head>  
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <script type="text/javascript" src="Vendor/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="Vendor/angular.min.js"></script>
    <script type="text/javascript" src="Vendor/angular-route.js"></script>
    <script type="text/javascript" src="App/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/global.css">
  <title>Site Words App by rnielson</title>
<base href="/SiteWordsPracticeApp/">
</head>
<body>
  
  <div id="container">
    <div ng-controller="MainController" ng-app="ngRouteExample">
   <div id="header">

   </div>
   <div id="body">
        <script type="text/ng-template" id="word.html">
      <h1>{{params.wordId}}</h1>
    </script>
    <script type="text/ng-template" id="instructions.html">
      <p>Instructions: Enter word list separated by commas to begin</p>
      <input type="text" style="width:200px" ng-model="$parent.txtWordList" name="words" />
      <button id="saveWords" class="primaryButton" ng-click="saveWordList()">Save</button>
      
    </script>
    <span ng-show="wordList.length > 0"><a href="/SiteWordsPracticeApp/">Start Over</a></span>
    <!-- loop theses -->
    <!--<span ng-repeat="word in wordList">
      <a href="Word/{{word}}">{{word}}</a>&nbsp;&nbsp;
    </span>-->
    <hr>
    <ng-view>Loading...</ng-view>
    <hr>
   </div>
   <div id="footer">
      <div class="centeredwrapper">
      <div class="inline prev" ng-click="previous()" ng-show="wordList.length > 0">
  <div class="arrowcontainer">
    <div class="arrow"></div>
    <div class="body">
      <ul>
        <li></li>
      </ul>
      <span>Prev</span>
    </div>
  </div>
</div>
<div class="inline next" ng-click="next()" ng-show="wordList.length > 0">
  <div class="arrowcontainer">
    <div class="body"><span>Next</span>
      <ul>
        <li></li>
      </ul>
    </div>
    <div class="arrow"></div>
  </div>
</div>
    </div>
   </div>
</div>
  
    
    

    
  </div>

</body>
</html>
